In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# initialize the dataframe

df = pd.read_csv('housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [21]:
# see available features and their data types

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20637 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20637 non-null  float64
 1   latitude            20637 non-null  float64
 2   housing_median_age  20637 non-null  float64
 3   total_rooms         20637 non-null  float64
 4   total_bedrooms      20430 non-null  float64
 5   population          20637 non-null  float64
 6   households          20637 non-null  float64
 7   median_income       20637 non-null  float64
 8   median_house_value  20637 non-null  float64
 9   ocean_proximity     20637 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

In [43]:
# get an idea of the dataset

df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20430.000000,20430.000000,20430.000000,20430.000000,20430.000000,20430.000000,20430.000000,20430.000000,20430.000000
mean,-119.570604,35.632999,28.635291,2636.812188,537.928879,1425.145032,499.494714,3.871544,206864.417719
std,2.003659,2.136235,12.591329,2185.275419,421.386931,1133.173287,382.292417,1.899135,115436.466637
min,-124.350000,32.540000,1.000000,2.000000,1.000000,5.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1450.250000,296.000000,788.000000,280.000000,2.563925,119500.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.537150,179700.000000
75%,-118.010000,37.720000,37.000000,3143.000000,647.000000,1722.750000,604.000000,4.744000,264700.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [7]:
# check physical constraints and remove invalid observations

print(len(df[df['total_bedrooms'] > df['total_rooms']]))
print(len(df[df['households'] > df['population']]))

df = df[df['households'] <= df['population']]

0
3

In [8]:
# check string formatting of ocean_proximity

df['ocean_proximity'] = df['ocean_proximity'].apply(lambda x: x.lower())

df['ocean_proximity'].value_counts()

<1h ocean     9135
inland        6549
near ocean    2658
near bay      2290
island           5
Name: ocean_proximity, dtype: int64

In [9]:
# check for duplicates

df.duplicated().value_counts()

False    20637
dtype: int64

In [38]:
df[df['total_bedrooms'].notna()].describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20430.000000,20430.000000,20430.000000,20430.000000,20430.000000,20430.000000,20430.000000,20430.000000,20430.000000
mean,-119.570604,35.632999,28.635291,2636.812188,537.928879,1425.145032,499.494714,3.871544,206864.417719
std,2.003659,2.136235,12.591329,2185.275419,421.386931,1133.173287,382.292417,1.899135,115436.466637
min,-124.350000,32.540000,1.000000,2.000000,1.000000,5.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1450.250000,296.000000,788.000000,280.000000,2.563925,119500.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.537150,179700.000000
75%,-118.010000,37.720000,37.000000,3143.000000,647.000000,1722.750000,604.000000,4.744000,264700.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [40]:
df[df['total_bedrooms'].isna()].describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,207.000000,207.000000,207.000000,207.000000,0.0,207.000000,207.000000,207.000000,207.000000
mean,-119.472560,35.497633,29.270531,2562.603865,NaN,1477.772947,510.024155,3.822244,206007.280193
std,2.001424,2.097298,11.964927,1787.269789,NaN,1057.448212,386.120704,1.955595,111638.214545
min,-124.130000,32.660000,4.000000,154.000000,NaN,37.000000,16.000000,0.852700,45800.000000
25%,-121.810000,33.970000,19.000000,1307.500000,NaN,781.000000,258.000000,2.564150,128750.000000
50%,-118.490000,34.200000,30.000000,2155.000000,NaN,1217.000000,427.000000,3.411500,175000.000000
75%,-117.985000,37.495000,38.000000,3465.000000,NaN,1889.500000,628.000000,4.615750,267700.000000
max,-114.590000,40.920000,52.000000,11709.000000,NaN,7604.000000,3589.000000,15.000100,500001.000000

In [41]:
# data seems to be MCAR so we can drop missing values

df = df[df['total_bedrooms'].notna()]

In [44]:
# export cleaned data as a csv

df.to_csv('housing_cleaned.csv')